# Created by .ignore support plugin (hsz.mobi)
.idea
.idea/.gitignore
.idea/ascon_eng.iml
.idea/bitrixlangplugin.xml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/webServers.xml
!/_temp/
!/bitrix/
/bitrix/backup/
/bitrix/routing_index.php
/bitrix/site_checker_dd5ff55932d2fba0681b09a44c84ed26.log
!/local/templates/ascon_turkey/
/local/templates/ascon_eng/images/
/upload/
