# Created by .ignore support plugin (hsz.mobi)
.idea
.idea/.gitignore
.idea/ascon_eng.iml
.idea/bitrixlangplugin.xml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/webServers.xml
!/local/templates/ascon_eng/images/icon/old/
!/local/templates/ascon_eng/images/banner/temp/
!/local/templates/ascon_eng/js/_old/
!/local/templates/ascon_eng/styles/_old/
