/* RESOLUTION SETTINGS START*/

$desktop-content-width: 1280px

$tablet-content-width: 600px

$min-site-width: 320px

/* COLORS =====================================*/

$main-font-color: #1F3045

$orange-color: #C64F15

$blue-color: #3265A0

$dark-grey-color: #505050

$grey-color: #6f6e6e

$mid-grey-color: #999999

$border-grey-color: #eeeeee

$light-grey-color: #dfdfdf

$slight-grey-color: #f8f8f8

/*====================*/

@mixin box-shadow
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1)
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1)

@mixin box-shadow-hover
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.08)
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.08)
  -moz-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.08)

@mixin unselectable
  -moz-user-select: none //Mozilla Firefox
  -webkit-user-select: none //Google Chrome, Opera Next, Safari

@mixin animation-02-linear
  transition: all .2s linear
  -webkit-transition: all .2s linear
  -moz-transition: all .2s linear
  -o-transition: all .2s linear
  -ms-transition: all .2s linear

@mixin animation-03-ease-out
  -webkit-transition: all 0.3s ease-out
  -moz-transition: all 0.3s ease-out
  -ms-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  transition: all 0.3s ease-out

