@charset "UTF-8"

@import ../base/vars

.page__nav
  li
    flex: 1
  @media (min-width: $tablet-content-width)
    min-width: 140px
    max-width: 150px

.events-nav li
  min-width: 50px
  @media (min-width: $tablet-content-width)
    min-width: 110px

#form-media
  //text-align: center
  //@media (min-width: $tablet-content-width)
    display: block
    text-align: left

  form
    display: none

  select
    font-family: 'Gotham Pro', sans-serif
    width: 110px
    border: 1px solid $border-grey-color
    padding: 7px 15px 5px 10px
    font-size: 9px
    text-transform: uppercase
    margin-right: 10px
    @media (min-width: $tablet-content-width)
      width: 150px
      font-size: 10px
      margin-right: 20px
      padding: 9px 15px 7px 20px

    option
      color: $main-font-color
      font-size: 10px
      @media (min-width: $tablet-content-width)
        font-size: 11px

    option[value=""][selected][disabled]
      color: $grey-color
      font-size: 10px
      @media (min-width: $tablet-content-width)
        font-size: 11px

  .narrow-btn
    display: inline-block
    min-width: 90px
    margin: 0 auto
    //margin-top: 15px
    //margin-bottom: 40px
    @media (min-width: $tablet-content-width)
      //display: inline-block
      min-width: 130px
      margin-top: 0
      margin-left: 15px
      margin-bottom: 0

.main
  margin-top: 30px
  margin-bottom: 60px
  @media (min-width: $tablet-content-width)
    margin-top: 40px
    margin-bottom: 90px

.blog__group
  margin-top: 35px
  padding: 0 10px
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  margin-bottom: 30px
  @media (min-width: $tablet-content-width)
    padding: 0 5px
    justify-content: space-between
  a
    text-decoration: none
    margin-bottom: 60px
    @media (min-width: $tablet-content-width)
      margin-bottom: 80px

.media-box
  @include box-shadow
  position: relative
  width: 300px
  height: 355px
  background-color: $slight-grey-color
  overflow: hidden
  @include animation-02-linear
  &:hover
    transform: scale(1.02)
    @include box-shadow-hover
    &.media-logo
      transform: scale(1.00)
  @media (min-width: $tablet-content-width)
    width: 360px
    height: 415px

.media-img
  width: 300px
  max-height: 200px
  background-color: $border-grey-color
  @media (min-width: $tablet-content-width)
    width: 360px
    max-height: 240px

.media__head
  display: flex
  align-items: center
  justify-content: space-between
  //background-color: $light-grey-color
  background-color: rgba(223, 223, 223, 0.9)
  height: 40px
  font-size: 13px
  padding: 0 20px
  position: absolute
  width: 100%
  top: 160px
  @media (min-width: $tablet-content-width)
    top: 200px
    font-size: 14px
    padding: 0 30px

.media-type
  color: $grey-color
  text-transform: uppercase
  font-weight: 400

.media-date
  font-weight: 500
  color: $grey-color

.media-name
  height: 105px
  font-size: 13px
  padding: 0 20px
  padding-top: 13px
  line-height: 140%
  overflow: hidden
  @media (min-width: $tablet-content-width)
    height: 120px
    font-size: 14px
    padding: 0 30px
    padding-top: 15px
    line-height: 150%

.media-logo
  display: flex
  justify-content: flex-end
  height: 47px
  padding-top: 10px
  padding-right: 20px
  padding-bottom: 16px
  @media (min-width: $tablet-content-width)
    height: 55px
    padding-right: 26px
    padding-bottom: 20px
    @include animation-02-linear

  span
    margin-left: 30px
    &::before
      width: 23px
      height: 23px
    @media (min-width: $tablet-content-width)
      width: 25px
      height: 25px

.media-logo,
.event-logo
  span
    margin-left: 30px
    &::before
      width: 22px
      height: 22px
      //padding: 1px
      @media (min-width: $tablet-content-width)
        width: 23px
        height: 23px
        //padding: 1px

  .logo-kompas
    opacity: 0.75
    margin-left: 38px
  .logo-c3dlabs,
  .logo-renga,
  .logo-ascon,
  .logo-pilot
    opacity: 0.8

// PAGE ARTICLE + EVENT ************************************************************
.article__group
  position: relative
  display: flex
  .group
    min-width: 320px
    max-width: 870px
    padding: 0 10px
    padding-bottom: 100px
    @media (min-width: $desktop-content-width)
      padding: 0 5px

.action-box
  @media (min-width: $desktop-content-width)
    top: 10px
  .btn-blue
    @media (min-width: $desktop-content-width)
      margin-left: auto
      a
        font-size: 11px

.article__title
  text-transform: uppercase
  color: $orange-color
  font-size: 14px
  display: flex
  align-items: center
  @media (min-width: $tablet-content-width)
    font-size: 15px
  //@media (min-width: $desktop-content-width)
    font-size: 16px

  .bold-middle
    font-size: 14px
    font-weight: 600
    @media (min-width: $tablet-content-width)
      font-size: 15px

  .shahs
    font-size: 14px
    letter-spacing: 0.5px
    font-weight: 500
    &::before
      content: "/"
      padding-left: 8px
      padding-right: 8px
      font-weight: 400
    //@media (min-width: $tablet-content-width)
      font-size: 15px

.article__name
  font-size: 20px
  font-weight: 800
  letter-spacing: 1.5px
  line-height: 130%
  margin-top: 10px
  margin-bottom: 15px
  @media (min-width: $tablet-content-width)
    font-size: 22px
    margin-bottom: 25px
  @media (min-width: $desktop-content-width)
    font-size: 24px

.event-terms
  width: 300px
  margin-top: 30px
  margin-bottom: 35px
  border: 1px solid $border-grey-color
  @media (min-width: $tablet-content-width)
    width: 340px
    margin-top: 34px
    margin-bottom: 40px
  div
    display: flex
    border-bottom: 1px solid $border-grey-color
    &:last-child
      border-bottom: unset

.terms__title
  display: flex
  align-items: center
  justify-content: center
  width: 100px
  height: 40px
  border-right: 1px solid $border-grey-color
  background-color: $slight-grey-color
  font-size: 12px
  letter-spacing: 1px
  @media (min-width: $tablet-content-width)
    width: 120px
    height: 45px
    font-size: 13px

.terms_date
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 40px
  font-size: 13px
  font-weight: 500
  letter-spacing: 0.3px
  @media (min-width: $tablet-content-width)
    height: 45px
    //font-size: 14px

.article__content
  h3
    color: $main-font-color
    font-size: 16px
    font-weight: bold
    margin-top: 20px
    margin-bottom: 10px
    @media (min-width: $tablet-content-width)
      font-size: 17px
      margin-top: 25px
      margin-bottom: 12px
    @media (min-width: $desktop-content-width)
      margin-top: 30px
      font-size: 18px
  h4
    color: $main-font-color
    margin-top: 10px
    font-weight: bold
  p,
  li
    font-size: 13px
    line-height: 160%
    margin: 10px 0
    @media (min-width: $tablet-content-width)
      font-size: 14px
    //@media (min-width: $desktop-content-width)
      font-size: 15px
  ul
    margin-left: 20px
  li
    list-style-type: disc
  img
    width: 100%
    max-width: max-content
    margin-top: 10px
    //margin: 10px 0
  span
    display: block
    font-size: 13px
    color: $mid-grey-color
    padding-bottom: 8px
  a
    text-decoration: underline
    color: $orange-color
    &:hover
      font-weight: 500

  iframe
    width: 100%

  .quote
    font-size: 13px
    color: $mid-grey-color
    line-height: 160%
    border-left: 1px solid $mid-grey-color
    margin-left: 5px
    padding-left: 15px
    margin-bottom: 24px

  .signature
    color: $mid-grey-color
    font-size: 11px
    margin: 5px 0 20px 0
    @media (min-width: $tablet-content-width)
      font-size: 12px
    @media (min-width: $desktop-content-width)
      font-size: 13px

.content-source
  margin-top: 15px
  font-size: 13px
  max-width: 400px
  a
    font-weight: 500
    text-decoration: underline
    color: $orange-color
    @include animation-02-linear
    &:hover
      font-weight: 700

.content-creator
  display: flex
  align-items: center
  margin-top: 40px
  margin-bottom: 40px
  margin-left: -5px

.content-creator_img
  border-radius: 50%
  background-color: $slight-grey-color
  width: 60px
  height: 60px
  margin-right: 12px
  img
    width: 100%
    border-radius: 50%

.content-creator_name
  font-size: 13px
  font-weight: 500
  line-height: 125%
  p
    margin: 6px 0
  //@media (min-width: $tablet-content-width)
    font-size: 14px

// EVENTS PAGE ****************************************************

.heading-orange
  margin-top: 30px
  padding: 0 5px
  @media (min-width: $tablet-content-width)
    margin-top: 25px
  @media (min-width: $desktop-content-width)
    padding: 0

.events__group
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding: 0 10px
  margin-top: 30px
  margin-bottom: 30px
  @media (min-width: $tablet-content-width)
    padding: 0 5px
    justify-content: space-between
    margin-bottom: 40px

  a
    text-decoration: none
    margin-bottom: 60px
    @media (min-width: $tablet-content-width)
      margin-bottom: 80px

.event-box
  @include box-shadow
  width: 310px
  min-height: 320px
  background-color: #ffffff
  overflow: hidden
  @include animation-02-linear
  @media (min-width: $tablet-content-width)
    //max-width: unset
    min-height: unset
    width: 380px
    height: 420px

.event__head
  display: flex
  align-items: center
  justify-content: space-between
  height: 50px
  background-color: $slight-grey-color
  padding: 5px 25px
  @media (min-width: $tablet-content-width)
    padding: 5px 35px

.event-category
  color: $orange-color
  font-size: 14px
  letter-spacing: 0.5px
  font-weight: 500
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  width: 100%
  text-transform: lowercase

.event-type
  text-transform: uppercase
  font-size: 12px
  color: $grey-color
  letter-spacing: 0.5px
  white-space: nowrap

.event-date
  margin-top: 30px
  height: 30px
  display: flex
  align-items: center
  font-size: 12px
  letter-spacing: 0.5px
  line-height: 120%
  padding: 0 25px
  margin-bottom: 2px
  @media (min-width: $tablet-content-width)
    margin-top: 32px
    //font-size: 13px
    padding: 0 35px
  i
    font-size: 25px
    line-height: 120%
    margin-left: -5px
    margin-bottom: 2px
    margin-right: 5px
    @media (min-width: $tablet-content-width)
      font-size: 27px
      line-height: 100%

.event-name
  max-height: 250px
  overflow: hidden
  padding: 0 25px
  margin-bottom: 30px
  @media (min-width: $tablet-content-width)
    padding: 0 35px
    margin-bottom: 0
    max-height: unset
    height: 245px

  h2
    font-size: 18px
    padding-top: 27px
    padding-bottom: 15px
    font-weight: bold
    @media (min-width: $tablet-content-width)
      padding-top: 32px
  p
    font-size: 12px
    line-height: 160%
    margin: 0 0 6px 0
    @media (min-width: $tablet-content-width)
      font-size: 13px
      line-height: 170%

.event-logo
  display: flex
  justify-content: flex-end
  align-items: flex-end
  height: 60px
  padding-right: 23px
  padding-bottom: 15px
  @media (min-width: $tablet-content-width)
    padding-right: 27px
    padding-bottom: 18px

.elem-blur
  opacity: 0.7