@charset "UTF-8"

@import ../base/vars

.catalog__header
  position: relative
  background-color: $dark-grey-color
  z-index: 0
  margin-left: -5px
  margin-right: -5px
  //width: 100%
  height: 100px
  @media (min-width: $tablet-content-width)
    height: 150px
    margin-left: -15px
    margin-right: -15px
  @media (min-width: $desktop-content-width)
    width: 100%
    margin-left: 0
    margin-right: 0
  img
    width: 100%
    height: 100px
    @media (min-width: $tablet-content-width)
      height: 150px
    //@media (min-width: $desktop-content-width)
      height: 200px
.catalog__description
  position: absolute
  top: 0
  width: 100%
  height: 100px
  display: flex
  //height: 100%
  align-items: center
  color: #ffffff
  padding: 10px 15px
  overflow: hidden
  @media (min-width: $tablet-content-width)
    width: 100%
    height: 150px
    flex-direction: column
    align-items: baseline
    justify-content: center
    padding-bottom: 25px
    padding-top: 20px
    padding-left: 25px
    padding-right: 25px
  //@media (min-width: $desktop-content-width)
    padding-left: 25px
    padding-right: 25px
    padding-bottom: 25px
  h2
    text-transform: capitalize
    font-size: 20px
    letter-spacing: 0.5px
    font-weight: bold
    @media (min-width: $tablet-content-width)
      font-size: 22px
      font-weight: 600
    @media (min-width: $desktop-content-width)
      //margin-top: 10px
      font-size: 24px
  p
    display: none
    @media (min-width: $tablet-content-width)
      display: block
      width: 95%
      font-size: 12px
      //letter-spacing: 0.2px
      line-height: 140%
      margin: 8px 0 0 0
    @media (min-width: $desktop-content-width)
      font-size: 14px
      line-height: 150%
      width: 90%


.catalog
  margin-bottom: 50px
  padding: 0 8px
  @media (min-width: $tablet-content-width)
    padding: 0
    margin-top: 50px
    margin-bottom: 80px
  //@media (min-width: $desktop-content-width)
    padding: 0
  .heading-orange
    @media (min-width: $tablet-content-width)
      padding-left: 5px
    @media (min-width: $desktop-content-width)
      padding-left: 0px

.product-box
  display: flex
  flex-direction: column
  margin-top: 30px
  margin-bottom: 70px
  padding: 0
  max-width: 500px
  @media (min-width: $tablet-content-width)
    @include box-shadow
    max-width: unset
    padding: 50px 35px 30px 35px
    background-color: $slight-grey-color
    margin-top: 0
    //background-color: rgba(248, 248, 248, 0.3)
  @media (min-width: $desktop-content-width)
    padding: 0
    background-color: #ffffff
    position: relative

.product-box__img
  //display: none
  display: block
  order: 2
  @media (min-width: $tablet-content-width)
    display: none
  @media (min-width: $desktop-content-width)
    display: block
    position: absolute
    background-color: $border-grey-color
    z-index: 2
    width: 450px
    height: 300px
  img
    width: 100%

.product-box__content
  order: 1
  @media (min-width: $desktop-content-width)
    height: 230px
    margin-left: 450px
    padding: 45px 45px 10px 40px
    overflow: hidden

.product-box__type
  font-size: 11px
  font-weight: 500
  text-transform: lowercase
  margin-bottom: 4px
  letter-spacing: 0.5px
  padding-left: 1px
  @media (min-width: $tablet-content-width)
    font-size: 13px
  @media (min-width: $desktop-content-width)
    position: absolute
    z-index: 3
    left: 270px
    top: 240px
    font-size: 12px
    padding: 13px 10px 13px 15px
    width: 180px
    height: 40px
    text-align: center
    font-weight: 500
    letter-spacing: 1.5px
    word-spacing: 3px
  &.base-program
    color: $orange-color
    @media (min-width: $desktop-content-width)
      color: #ffffff
      background-color: $orange-color
  &.toolkit,
  &.mobile-app
    color: $blue-color
    @media (min-width: $desktop-content-width)
      color: #ffffff
      background-color: $blue-color
      opacity: 0.99
  &.add-on
    color: $grey-color
    @media (min-width: $desktop-content-width)
      color: #ffffff
      background-color: $dark-grey-color
      opacity: 0.98

.product-box__name
  font-size: 18px
  font-weight: 800
  letter-spacing: 1px
  //text-transform: capitalize
  margin-bottom: 10px
  @media (min-width: $tablet-content-width)
    font-size: 21px
    font-weight: 600
    letter-spacing: 0.5px
    margin-bottom: 5px
  @media (min-width: $desktop-content-width)
    margin-bottom: 0
    font-size: 22px
    //letter-spacing: 1.5px

.product-box__description
  font-size: 13px
  line-height: 150%
  @media (min-width: $tablet-content-width)
    margin-top: 12px
    font-size: 14px
    line-height: 160%
  @media (min-width: $desktop-content-width)
    //font-size: 14px
    line-height: 150%
  p
    margin: 8px 0
    //line-height: 150%
    //@media (min-width: $desktop-content-width)
      margin: 12px 0


.product-box__bottom
  @include unselectable
  order: 2
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 15px
  @media (min-width: $tablet-content-width)
    margin-top: 25px
  @media (min-width: $desktop-content-width)
    align-items: flex-end
    margin-top: 0
    padding: 0 35px 25px 40px
    //padding-top: 10px
    height: 70px
    margin-left: 450px
  a
    text-decoration: none

.product-box__parent
  display: flex
  align-items: center
  //cursor: pointer
  padding-top: 0
  //@media (min-width: $desktop-content-width)
    padding-top: 0
    //margin-bottom: 20px
  a
    display: flex
    align-items: center
    height: 40px
    padding-top: 0
    @include animation-02-linear
    &:hover .bold
      text-decoration: underline
    &:hover .parent__logo
      transform: scale(1.05)
    @media (min-width: $desktop-content-width)
      padding-top: 5px

.parent__logo
  height: 26px
  line-height: 130%
  margin-right: 8px
  opacity: 0.88
  @media (min-width: $tablet-content-width)
    height: 40px
    margin-top: 2px
  &::before
    height: 26px
    width: 26px
    @media (min-width: $tablet-content-width)
      height: 40px
      width: 30px

.parent__name
  font-size: 11px
  letter-spacing: 0.3px
  margin-top: 1px
  //opacity: 0.85
  //line-height: 130%
  //@media (min-width: $desktop-content-width)
  //@media (min-width: $tablet-content-width)
    font-size: 13px
  .bold
    letter-spacing: unset
    margin-top: 2px
    font-size: 12px
    //text-transform: uppercase

.product-box__btn
  //@media (min-width: $desktop-content-width)
    margin-top: -5px
