/* RESOLUTION SETTINGS START*/
/* COLORS =====================================*/
/*====================*/
.catalog__header {
  position: relative;
  background-color: #254360;
  z-index: 0;
  margin-left: -5px;
  margin-right: -5px;
  height: 100px;
}
@media (min-width: 600px) {
  .catalog__header {
    height: 150px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 1280px) {
  .catalog__header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.catalog__header img {
  width: 100%;
  height: 100px;
}
@media (min-width: 600px) {
  .catalog__header img {
    height: 150px;
  }
}

.catalog__description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 10px 15px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .catalog__description {
    width: 100%;
    height: 150px;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.catalog__description h2 {
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
@media (min-width: 600px) {
  .catalog__description h2 {
    font-size: 22px;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .catalog__description h2 {
    font-size: 26px;
    margin-bottom: 2px;
  }
}
.catalog__description p {
  display: none;
}
@media (min-width: 600px) {
  .catalog__description p {
    display: block;
    width: 95%;
    font-size: 12px;
    line-height: 140%;
    margin: 8px 0 0 0;
  }
}
@media (min-width: 1280px) {
  .catalog__description p {
    font-size: 14px;
    line-height: 150%;
    width: 90%;
  }
}

.catalog {
  margin-bottom: 50px;
  padding: 0 8px;
}
@media (min-width: 600px) {
  .catalog {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
@media (min-width: 600px) {
  .catalog .heading-orange {
    padding-left: 5px;
  }
}
@media (min-width: 1280px) {
  .catalog .heading-orange {
    padding-left: 0px;
  }
}

.product-box {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 90px;
  padding: 0;
  max-width: 500px;
}
@media (min-width: 600px) {
  .product-box {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    max-width: unset;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0;
    background-color: #fafafa;
    padding: 50px 40px 35px 40px;
  }
}
@media (min-width: 1280px) {
  .product-box {
    border: 1px solid #f1f1f1;
    padding: 0;
    margin: 0 0 70px 0;
    border-bottom: none;
    border-right: none;
    background-color: #ffffff;
    position: relative;
  }
}

.product-box__img {
  display: block;
  order: 2;
}
@media (min-width: 600px) {
  .product-box__img {
    display: none;
  }
}
@media (min-width: 1280px) {
  .product-box__img {
    display: block;
    position: absolute;
    background-color: #eeeeee;
    border-right: 1px solid #f1f1f1;
    z-index: 2;
    width: 450px;
    height: 300px;
  }
}
.product-box__img img {
  width: 100%;
}

.product-box__content {
  order: 1;
}
@media (min-width: 1280px) {
  .product-box__content {
    height: 230px;
    margin-left: 450px;
    padding: 45px 45px 10px 40px;
    overflow: hidden;
  }
}

.product-box__type {
  font-size: 9.5px;
  letter-spacing: 0.4px;
  font-weight: 500;
  text-transform: lowercase;
  margin-bottom: 6px;
  display: inline-block;
  padding: 3px 6px 3px 6px;
  border-radius: 2px;
  margin-left: -1px;
  min-width: 50px;
  text-align: center;
}
@media (min-width: 600px) {
  .product-box__type {
    margin-bottom: 7px;
  }
}
@media (min-width: 1280px) {
  .product-box__type {
    min-width: unset;
    margin-left: 0;
    position: absolute;
    z-index: 3;
    left: 270px;
    top: 240px;
    font-size: 12px;
    padding: 13px 10px 13px 15px;
    width: 180px;
    height: 40px;
    font-weight: 500;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    border-radius: 0;
  }
}
.product-box__type.base-program {
  color: #ffffff;
  background-color: #C64F15;
  opacity: 0.85;
}
@media (min-width: 1280px) {
  .product-box__type.base-program {
    opacity: 0.99;
  }
}
.product-box__type.toolkit, .product-box__type.mobile-app {
  color: #ffffff;
  background-color: #164C81;
  opacity: 0.94;
}
@media (min-width: 1280px) {
  .product-box__type.toolkit, .product-box__type.mobile-app {
    opacity: 0.99;
  }
}
.product-box__type.add-on {
  color: #ffffff;
  background-color: #254360;
  opacity: 0.9;
}
@media (min-width: 1280px) {
  .product-box__type.add-on {
    opacity: 0.98;
  }
}

.product-box__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
@media (min-width: 600px) {
  .product-box__name {
    font-size: 21px;
    letter-spacing: unset;
    margin-bottom: 0;
  }
}

.product-box__description {
  font-size: 13px;
}
@media (min-width: 600px) {
  .product-box__description {
    margin-top: 12px;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .product-box__description {
    font-size: 13px;
  }
}
.product-box__description p {
  margin: 8px 0;
  line-height: 160%;
}

.product-box__bottom {
  -moz-user-select: none;
  -webkit-user-select: none;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
@media (min-width: 600px) {
  .product-box__bottom {
    margin-top: 30px;
  }
}
@media (min-width: 1280px) {
  .product-box__bottom {
    align-items: flex-end;
    margin-top: 0;
    padding: 0 35px 25px 40px;
    height: 70px;
    margin-left: 450px;
  }
}
.product-box__bottom a {
  text-decoration: none;
}

.product-box__parent {
  display: flex;
  align-items: center;
  padding-top: 0;
}
.product-box__parent a {
  display: flex;
  align-items: center;
  height: 40px;
  padding-top: 0;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}
.product-box__parent a:hover .bold {
  text-decoration: underline;
  color: #C64F15;
}
@media (min-width: 1280px) {
  .product-box__parent a {
    padding-top: 8px;
  }
}

.parent__logo {
  height: 26px;
  line-height: 130%;
  margin-right: 7px;
  opacity: 0.95;
}
@media (min-width: 600px) {
  .parent__logo {
    height: 40px;
    margin-top: 2px;
  }
}
.parent__logo::before {
  height: 30px;
  width: 30px;
}
@media (min-width: 600px) {
  .parent__logo::before {
    height: 40px;
    width: 30px;
  }
}

.parent__name {
  font-size: 11px;
  letter-spacing: 0.3px;
  margin-top: 4px;
  color: #254360;
  line-height: 120%;
}
@media (min-width: 1280px) {
  .parent__name {
    margin-top: 2px;
  }
}
.parent__name .bold {
  letter-spacing: unset;
  font-size: 12px;
}

.product-box__btn {
  width: 120px;
  height: 36px;
}
@media (min-width: 600px) {
  .product-box__btn {
    width: 140px;
    height: 40px;
    align-self: flex-end;
  }
}
@media (min-width: 1280px) {
  .product-box__btn {
    min-width: 150px;
    width: unset;
    height: 42px;
    margin-left: auto;
    margin-top: 0;
  }
}
.product-box__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  padding: 0 10px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  color: #6f6e6e;
  background-color: #ffffff;
  text-align: center;
  border: 3px solid #f1f1f1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.product-box__btn a:hover {
  color: #C64F15;
  padding: 0 6px;
  letter-spacing: 1.5px;
  font-weight: 600;
  box-shadow: unset;
  border: 3px solid #C64F15;
  opacity: 1;
}
@media (min-width: 600px) {
  .product-box__btn a {
    padding: 0 20px;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .product-box__btn a:hover {
    padding: 0 18px;
    letter-spacing: 2px;
  }
}
