/* RESOLUTION SETTINGS START*/
/* COLORS =====================================*/
/*====================*/
.page__name h1 {
  margin-bottom: 0;
}

.page__nav li {
  min-width: 100px;
}
@media (min-width: 600px) {
  .page__nav li {
    min-width: 140px;
  }
}

.main {
  margin-top: 30px;
  padding: 0 10px;
  margin-bottom: 60px;
}
@media (min-width: 600px) {
  .main {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1280px) {
  .main {
    margin-top: 50px;
  }
}
.main p {
  font-size: 13px;
  line-height: 150%;
  margin: 10px 0;
}
@media (min-width: 600px) {
  .main p {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .main p {
    font-size: 15px;
  }
}

.heading-orange {
  margin-bottom: 15px;
}
@media (min-width: 1280px) {
  .heading-orange {
    margin-left: -10px;
    margin-bottom: 20px;
  }
}

.group__company {
  margin-top: 35px;
  margin-bottom: 35px;
}
@media (min-width: 600px) {
  .group__company {
    margin-top: 55px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.company__box {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  min-height: 110px;
  background-color: #ffffff;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
@media (min-width: 600px) {
  .company__box {
    flex: 1;
    width: 300px;
    min-height: 150px;
    margin-bottom: 60px;
    margin-right: 45px;
  }
}
.company__box img {
  position: absolute;
  z-index: 1;
  top: -10px;
  left: -10px;
  width: 55px;
}
.company__box div {
  margin-left: 70px;
}

.company__num {
  font-size: 53px;
  font-weight: 700;
  padding-top: 10px;
}
.company__num span {
  font-size: 45px;
  font-weight: 500;
  margin-right: 5px;
  line-height: 55px;
}

.company__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  margin-top: 5px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.company__scheme {
  margin-top: 60px;
  margin-bottom: 200px;
}
.company__scheme img {
  width: 100%;
  max-width: 600px;
}

.group__customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 100px;
}
@media (min-width: 600px) {
  .group__customer {
    justify-content: space-between;
  }
}
.group__customer a {
  text-decoration: none;
  margin-bottom: 30px;
}

.customer-box {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.customer-box .customer-logo {
  width: 100%;
  height: 90px;
  padding: 0 25px;
  padding-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-box .customer-logo img {
  max-width: 180px;
  max-height: 70px;
}
.customer-box .customer-text {
  width: 100%;
  height: 60px;
  margin-top: 5px;
  padding: 0 25px;
  padding-bottom: 15px;
}
.customer-box h4, .customer-box h5, .customer-box h6 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.customer-box h4 {
  font-size: 12px;
  font-weight: 500;
}
.customer-box h5 {
  font-size: 10px;
  color: #6f6e6e;
  margin-top: 3px;
}
.customer-box h6 {
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-top: 2px;
}

.contacts-box {
  padding: 0 8px;
  margin-bottom: 100px;
}
.contacts-box h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contacts__title {
  font-size: 15px;
  font-weight: 500;
}

.contacts__text {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.contacts__text div {
  margin-top: 5px;
}

.question-form {
  padding: 0 8px;
}
.question-form .contacts__title {
  font-size: 17px;
}
.question-form .btn-blue {
  margin-top: 50px;
}

.question-title {
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 5px;
  color: #6f6e6e;
  padding-left: 2px;
}

.question-field {
  max-width: 600px;
  width: 100%;
  min-height: 40px;
  border: 1px solid #eeeeee;
}
.question-field select,
.question-field input,
.question-field textarea {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  max-width: 600px;
  height: 100%;
  min-height: 40px;
  border: none;
  padding: 10px 5px;
}
.question-field input {
  padding: 10px;
}
.question-field textarea {
  padding: 7px 10px;
  min-height: 150px;
  line-height: 130%;
}

.partnership-block {
  margin-bottom: 100px;
}
.partnership-block p {
  margin: 15px 0;
}
.partnership-block h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
.partnership-block .group {
  display: flex;
  margin-top: 20px;
  margin-bottom: 60px;
}
.partnership-block .stretch-blocks {
  justify-content: space-between;
}
.partnership-block .product-block {
  background-color: #f8f8f8;
  justify-content: center;
}
.partnership-block .first-block {
  margin-right: 60px;
}
.partnership-block .last-part {
  margin-bottom: 35px;
}
.partnership-block .cover-box {
  display: flex;
  align-items: center;
  width: 380px;
  height: 120px;
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.partnership-block .cover-box_icon {
  margin-left: 35px;
  margin-right: 20px;
  margin-top: 8px;
}
.partnership-block .cover-box_title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.partnership-block .cover-box_text {
  margin-top: 5px;
  font-size: 14px;
  color: #999999;
}
.partnership-block .cover-box_logo {
  width: 35px;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 10px;
  align-self: flex-end;
}
.partnership-block .cover-box_logo img {
  width: 100%;
}
.partnership-block .table {
  margin-top: 20px;
  margin-bottom: 60px;
  border: 1px solid #f8f8f8;
}
.partnership-block .heading {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #eeeeee;
  text-transform: uppercase;
  font-weight: 700;
}
.partnership-block .heading .table_option {
  font-size: 16px;
}
.partnership-block .heading .table_value {
  font-size: 14px;
}
.partnership-block .string {
  display: flex;
  align-items: center;
  height: 50px;
}
.partnership-block .string:nth-child(2n+1) {
  background-color: #f8f8f8;
}
.partnership-block .table_option {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0 30px;
}
.partnership-block .table_value {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-left: 1px solid #f8f8f8;
}
.partnership-block .step-block {
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.08);
  display: block;
  width: 380px;
  height: 350px;
  background-color: #ffffff;
  text-align: center;
  padding: 30px 35px 45px 35px;
  margin-top: 15px;
}
.partnership-block .step-block h3 {
  margin-top: 20px;
}
.partnership-block .step-block p {
  font-size: 14px;
}
.partnership-block .step-block .btn-orange {
  margin: 0 auto;
  margin-top: 30px;
}
.partnership-block .step-block .btn-orange a {
  font-size: 14px;
}

.checked:before {
  display: inline-block;
  width: 21px;
  height: 18px;
  content: "";
  background: url(../../images/icon/icon-checked-green.svg) center no-repeat;
  background-size: contain;
}
