@charset "UTF-8"

@import ../base/vars

// P A G E   C O M P A N Y ********************************************************
.page__name
  h1
    margin-bottom: 0

.page__nav
  li
    min-width: 100px
    @media (min-width: $tablet-content-width)
      min-width: 140px

.main
  margin-top: 30px
  padding: 0 10px
  margin-bottom: 60px
  @media (min-width: $tablet-content-width)
    margin-top: 40px
    margin-bottom: 100px
  @media (min-width: $desktop-content-width)
    margin-top: 50px
  p
    font-size: 13px
    line-height: 150%
    margin: 10px 0
    @media (min-width: $tablet-content-width)
      font-size: 14px
    @media (min-width: $desktop-content-width)
      font-size: 15px

.heading-orange
  margin-bottom: 15px
  @media (min-width: $desktop-content-width)
    margin-left: -10px
    margin-bottom: 20px

.group__company
  margin-top: 35px
  margin-bottom: 35px
  @media (min-width: $tablet-content-width)
    margin-top: 55px
    margin-bottom: 50px
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.company__box
  @include box-shadow
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  min-width: 300px
  min-height: 110px
  //background-color: $slight-grey-color
  background-color: #ffffff
  margin-bottom: 30px
  margin-left: 10px
  margin-right: 10px
  @media (min-width: $tablet-content-width)
    flex: 1
    width: 300px
    min-height: 150px
    margin-bottom: 60px
    margin-right: 45px

  img
    position: absolute
    z-index: 1
    top: -10px
    left: -10px
    width: 55px

  div
    margin-left: 70px

.company__num
  font-size: 53px
  font-weight: 700
  padding-top: 10px
  span
    font-size: 45px
    font-weight: 500
    margin-right: 5px
    line-height: 55px

.company__text
  font-size: 14px
  font-weight: 400
  line-height: 120%
  margin-top: 5px
  padding-right: 50px
  padding-bottom: 20px

.company__scheme
  margin-top: 60px
  margin-bottom: 200px
  img
    width: 100%
    max-width: 600px

.group__customer
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-top: 30px
  margin-bottom: 100px
  @media (min-width: $tablet-content-width)
    justify-content: space-between

  a
    text-decoration: none
    margin-bottom: 30px

.customer-box
  @include box-shadow
  width: 300px
  height: 150px
  background-color: #ffffff
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

  .customer-logo
    width: 100%
    height: 90px
    padding: 0 25px
    padding-top: 15px
    margin-bottom: 5px
    display: flex
    justify-content: center
    align-items: center
    img
      max-width: 180px
      max-height: 70px

  .customer-text
    width: 100%
    height: 60px
    margin-top: 5px
    padding: 0 25px
    padding-bottom: 15px

  h4, h5, h6
    text-align: center
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  h4
    font-size: 12px
    font-weight: 500

  h5
    font-size: 10px
    color: $grey-color
    margin-top: 3px

  h6
    font-size: 10px
    letter-spacing: 0.5px
    text-transform: uppercase
    color: $grey-color
    margin-top: 2px

// P A G E   C O N T A C T S ********************************************************

.contacts-box
  padding: 0 8px
  margin-bottom: 100px
  h3
    font-size: 22px
    font-weight: 700
    margin-top: 25px
    margin-bottom: 25px

.contacts__title
  font-size: 15px
  font-weight: 500

.contacts__text
  font-size: 15px
  margin-top: 5px
  margin-bottom: 30px
  div
    margin-top: 5px

.question-form
  padding: 0 8px

  .contacts__title
    font-size: 17px

  .btn-blue
    margin-top: 50px

.question-title
  font-size: 14px
  margin-top: 25px
  margin-bottom: 5px
  color: $grey-color
  padding-left: 2px

.question-field
  max-width: 600px
  width: 100%
  min-height: 40px
  border: 1px solid $border-grey-color

  select,
  input,
  textarea
    font-family: 'Gotham Pro', sans-serif
    font-weight: 400
    font-size: 14px
    width: 100%
    max-width: 600px
    height: 100%
    min-height: 40px
    border: none
    padding: 10px 5px

  input
    padding: 10px

  textarea
    padding: 7px 10px
    min-height: 150px
    line-height: 130%


// P A G E  P A R T N E R S H I P ********************************************************

.partnership-block
  margin-bottom: 100px

  p
    margin: 15px 0

  h3
    font-size: 24px
    font-weight: 700
    margin-top: 35px

  .group
    display: flex
    margin-top: 20px
    margin-bottom: 60px

  .stretch-blocks
    justify-content: space-between

  .product-block
    background-color: $slight-grey-color
    justify-content: center

  .first-block
    margin-right: 60px

  .last-part
    margin-bottom: 35px

  .cover-box
    display: flex
    align-items: center
    width: 380px
    height: 120px
    border: 1px solid $border-grey-color
    @include box-shadow

  .cover-box_icon
    margin-left: 35px
    margin-right: 20px
    margin-top: 8px

  .cover-box_title
    font-size: 20px
    font-weight: 700
    text-transform: uppercase

  .cover-box_text
    margin-top: 5px
    font-size: 14px
    color: $mid-grey-color

  .cover-box_logo
    width: 35px
    margin-left: auto
    margin-right: 15px
    margin-bottom: 10px
    align-self: flex-end
    img
      width: 100%

  .table
    margin-top: 20px
    margin-bottom: 60px
    border: 1px solid $slight-grey-color

  .heading
    display: flex
    align-items: center
    height: 60px
    background-color: $border-grey-color
    text-transform: uppercase
    font-weight: 700
    .table_option
      font-size: 16px
    .table_value
      font-size: 14px

  .string
    display: flex
    align-items: center
    height: 50px

  .string:nth-child(2n+1)
    background-color: $slight-grey-color

  .table_option
    flex: 1
    height: 100%
    display: flex
    align-items: center
    font-size: 16px
    padding: 0 30px

  .table_value
    height: 100%
    width: 200px
    display: flex
    align-items: center
    justify-content: center
    font-size: 14px
    border-left: 1px solid $slight-grey-color


  .step-block
    @include box-shadow-hover
    display: block
    width: 380px
    height: 350px
    background-color: #ffffff
    text-align: center
    padding: 30px 35px 45px 35px
    margin-top: 15px

    h3
      margin-top: 20px

    p
      font-size: 14px

    .btn-orange
      margin: 0 auto
      margin-top: 30px
      a
        font-size: 14px






.checked
  &:before
    display: inline-block
    width: 21px
    height: 18px
    content: ""
    background: url(../../images/icon/icon-checked-green.svg) center no-repeat
    background-size: contain