/* RESOLUTION SETTINGS START*/
/* COLORS =====================================*/
/*====================*/
.center.container {
  padding: 0;
}

.main {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 13px;
}
@media (min-width: 600px) {
  .main {
    padding: 0 10px;
    margin-top: 55px;
    margin-bottom: 150px;
  }
}
@media (min-width: 1280px) {
  .main {
    padding: 0;
    margin-top: 70px;
  }
}
.main .heading-orange {
  margin-bottom: 26px;
}
@media (min-width: 600px) {
  .main .heading__text {
    font-size: 26px;
  }
}

.central-banner {
  -moz-user-select: none;
  -webkit-user-select: none;
  color: #ffffff;
  margin-left: -5px;
  margin-right: -5px;
}
@media (min-width: 600px) {
  .central-banner {
    height: 260px;
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media (min-width: 1280px) {
  .central-banner {
    margin-left: 0;
    margin-right: 0;
  }
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner__heading {
  font-size: 16px;
  font-weight: 600;
  padding-right: 20px;
  padding-top: 2px;
  height: 50px;
  line-height: 140%;
  letter-spacing: 0.3px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .banner__heading {
    font-size: 24px;
    font-weight: 600;
    height: 45px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1280px) {
  .banner__heading {
    font-size: 28px;
    padding-top: 5px;
    padding-left: 0;
    font-weight: bold;
    height: unset;
  }
}

.banner__text {
  display: none;
}
@media (min-width: 1280px) {
  .banner__text {
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 20px;
    width: 90%;
    line-height: 150%;
  }
}
.banner__text p {
  margin: 0;
}

.banner__btn {
  margin-top: 5px;
  max-width: 130px;
  height: 30px;
  margin-left: auto;
  margin-right: 20px;
}
@media (min-width: 600px) {
  .banner__btn {
    margin: 0;
    max-width: 160px;
    height: 36px;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 18px;
  }
}
@media (min-width: 1280px) {
  .banner__btn {
    min-width: 160px;
    max-width: unset;
    height: 38px;
    margin-right: -10px;
    margin-bottom: 5px;
  }
}
.banner__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.banner__btn a:hover {
  border-width: 2px;
  padding: 0 18px;
  letter-spacing: 1.5px;
  color: #C64F15;
  background-color: #ffffff;
}
@media (min-width: 600px) {
  .banner__btn a {
    font-size: 12px;
    padding: 0 30px;
  }
  .banner__btn a:hover {
    padding: 0 27px;
  }
}

.master-slider-parent {
  margin-top: 1px !important;
}

.ms-skin-light-3 .ms-nav-prev {
  left: 0 !important;
}

.ms-skin-light-3 .ms-nav-next {
  right: 0 !important;
}

.ms-skin-light-3 .ms-nav-prev,
.ms-skin-light-3 .ms-nav-next {
  display: none;
}
@media (min-width: 1280px) {
  .ms-skin-light-3 .ms-nav-prev,
.ms-skin-light-3 .ms-nav-next {
    display: block;
  }
}

.ms-slider-text-box {
  display: block !important;
  width: 100% !important;
  min-height: 90px !important;
  max-width: 1160px !important;
  padding: 15px 10px !important;
  text-align: left !important;
  border-radius: unset !important;
  background: rgba(0, 0, 0, 0.3) !important;
}
@media (min-width: 600px) {
  .ms-slider-text-box {
    display: flex !important;
    padding: 15px !important;
    height: 85% !important;
  }
}
@media (min-width: 1280px) {
  .ms-slider-text-box {
    padding: 30px 60px !important;
    height: 200px !important;
  }
}

.ms-skin-light-3 .ms-bullets.ms-dir-h .ms-bullets-count {
  bottom: -26px !important;
}
@media (min-width: 600px) {
  .ms-skin-light-3 .ms-bullets.ms-dir-h .ms-bullets-count {
    bottom: -28px !important;
  }
}
@media (min-width: 1280px) {
  .ms-skin-light-3 .ms-bullets.ms-dir-h .ms-bullets-count {
    bottom: -30px !important;
  }
}

.ms-skin-light-3 .ms-bullet {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #eeeeee !important;
  background: #eeeeee !important;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}
.ms-skin-light-3 .ms-bullet:hover {
  border: 1px solid #C64F15 !important;
  background: #C64F15 !important;
}
@media (min-width: 600px) {
  .ms-skin-light-3 .ms-bullet {
    width: 12px !important;
    height: 12px !important;
  }
}
@media (min-width: 1280px) {
  .ms-skin-light-3 .ms-bullet {
    width: 14px !important;
    height: 14px !important;
  }
}

.ms-skin-light-3 .ms-bullet-selected {
  background: #6f6e6e !important;
  border: 1px solid #6f6e6e !important;
}

.ms-timerbar {
  background: #eeeeee !important;
}

.product-box {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 20%;
}
@media (min-width: 600px) {
  .product-box {
    max-width: unset;
    margin-top: 30px;
    margin-bottom: 80px;
    box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 35px 30px 35px;
    background-color: #f8f8f8;
  }
}
@media (min-width: 1280px) {
  .product-box {
    box-shadow: unset;
    background-color: unset;
    padding: 0;
    height: 300px;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 110px;
  }
}
@media (min-width: 1280px) {
  .product-box.left {
    box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1280px) {
  .product-box.right {
    box-shadow: -2px 1px 5px 0 rgba(0, 0, 0, 0.1);
  }
  .product-box.right .product__content {
    padding-left: 55px;
  }
}
.product-box .product__img {
  order: 2;
}
@media (min-width: 600px) {
  .product-box .product__img {
    display: none;
  }
}
@media (min-width: 1280px) {
  .product-box .product__img {
    display: block;
    order: unset;
    max-width: unset;
    width: 450px;
    height: 299px;
  }
}
.product-box .product__img img {
  width: 100%;
}
@media (min-width: 600px) {
  .product-box .product__img img {
    width: 450px;
  }
}
.product-box .product__content {
  order: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .product-box .product__content {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .product-box .product__content {
    order: unset;
    padding: 40px 40px 25px 45px;
  }
}
.product-box .content__heading {
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: bold;
}
@media (min-width: 600px) {
  .product-box .content__heading {
    font-size: 18px;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .product-box .content__heading {
    font-size: 19px;
  }
}
.product-box .content__heading span {
  line-height: 100%;
}
.product-box .content__heading span::before {
  margin-right: 10px;
  height: 28px;
  width: 28px;
  opacity: 0.95;
}
@media (min-width: 600px) {
  .product-box .content__heading span::before {
    margin-right: 13px;
  }
}
.product-box .content__text {
  margin-top: 10px;
  font-size: 13px;
  line-height: 160%;
}
@media (min-width: 600px) {
  .product-box .content__text {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 160%;
  }
}
@media (min-width: 1280px) {
  .product-box .content__text {
    line-height: 155%;
    height: 160px;
    margin-bottom: 0;
    padding-right: 10px;
    padding-bottom: 15px;
    overflow: hidden;
  }
}
.product-box .content__text p {
  margin: 8px 0 0 0;
}
.product-box .product__btn {
  position: absolute;
  top: -2px;
  right: 0;
  width: 100px;
  height: 32px;
  background-color: #ffffff;
}
@media (min-width: 600px) {
  .product-box .product__btn {
    position: static;
    top: 0;
    width: 140px;
    height: 40px;
    margin-top: 30px;
    align-self: flex-end;
  }
}
@media (min-width: 1280px) {
  .product-box .product__btn {
    min-width: 150px;
    width: unset;
    height: 42px;
    margin-left: auto;
    margin-top: 0;
  }
}
.product-box .product__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  padding: 0 10px;
  font-size: 10px;
  letter-spacing: 1px;
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: 500;
  color: #505050;
  text-align: center;
  border: 2px solid #dfdfdf;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.product-box .product__btn a:hover {
  color: #C64F15;
  padding: 0 6px;
  letter-spacing: 1.5px;
  font-weight: 600;
  background-color: #ffffff;
  box-shadow: unset;
  border: 3px solid #C64F15;
  opacity: 1;
}
@media (min-width: 600px) {
  .product-box .product__btn a {
    padding: 0 20px;
    font-size: 12px;
    letter-spacing: 1px;
    border: 3px solid #dfdfdf;
  }
  .product-box .product__btn a:hover {
    padding: 0 16px;
    letter-spacing: 2px;
  }
}
