/* RESOLUTION SETTINGS START*/
/* COLORS =====================================*/
/*====================*/
.product__header {
  position: relative;
  height: 100px;
  z-index: 0;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #6f6e6e;
}
@media (min-width: 600px) {
  .product__header {
    height: 200px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (min-width: 1280px) {
  .product__header {
    height: 200px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.product__bkg {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  opacity: 0.95;
}
@media (min-width: 600px) {
  .product__bkg {
    height: 200px;
  }
}

.product__breadcrumbs {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 10px;
  margin: 0 15px;
  padding-top: 10px;
  padding-bottom: 0;
}
@media (min-width: 600px) {
  .product__breadcrumbs {
    padding-top: 15px;
    margin: 0 20px;
    font-size: 12px;
  }
}
@media (min-width: 1280px) {
  .product__breadcrumbs {
    margin: 0 25px;
    font-size: 13px;
  }
}
.product__breadcrumbs .right-arrow::before {
  font-size: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 1280px) {
  .product__breadcrumbs .right-arrow::before {
    font-size: 12px;
    padding-right: 10px;
    padding-left: 15px;
  }
}

.product__name {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  color: #ffffff;
  margin: 10px 15px 8px 15px;
  height: 60px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .product__name {
    margin: 20px;
    height: 100px;
  }
}
@media (min-width: 1280px) {
  .product__name {
    margin: 20px 25px;
  }
}
.product__name h1 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-left: 10px;
  margin-bottom: 5px;
  line-height: 125%;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  .product__name h1 {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 900;
    margin-left: 15px;
  }
}
@media (min-width: 1280px) {
  .product__name h1 {
    font-size: 32px;
    font-weight: 700;
    margin-left: 25px;
  }
}
.product__name .logo-kompas,
.product__name .logo-pilot-white,
.product__name .logo-c3d-labs,
.product__name .logo-renga {
  margin-bottom: 3px;
}
.product__name .logo-kompas::before,
.product__name .logo-pilot-white::before,
.product__name .logo-c3d-labs::before,
.product__name .logo-renga::before {
  opacity: 0.98;
  width: 40px;
  height: 40px;
}
@media (min-width: 600px) {
  .product__name .logo-kompas::before,
.product__name .logo-pilot-white::before,
.product__name .logo-c3d-labs::before,
.product__name .logo-renga::before {
    width: 80px;
    height: 80px;
  }
}
.product__name .logo-pilot-white {
  margin-bottom: 5px;
}
.product__name .logo-pilot-white::before {
  opacity: 0.98;
  width: 28px;
  height: 30px;
}
@media (min-width: 600px) {
  .product__name .logo-pilot-white::before {
    width: 60px;
    height: 65px;
  }
}

.product__nav {
  display: none;
}
@media (min-width: 600px) {
  .product__nav {
    display: flex;
    z-index: 1;
    overflow: hidden;
    color: #ffffff;
    position: sticky;
    height: 32px;
    top: 0;
    margin: 0 -20px;
    margin-top: -32px;
  }
}
@media (min-width: 1280px) {
  .product__nav {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}
.product__nav li {
  flex: 1;
  margin-right: 1px;
  height: 100%;
  background-color: rgba(111, 110, 110, 0.97);
  cursor: pointer;
  transition: all 0.3s linear;
}
@media (min-width: 1280px) {
  .product__nav li {
    flex: none;
    width: unset;
    max-width: unset;
    min-width: 150px;
  }
}
.product__nav li:hover {
  background-color: #C64F15;
}
.product__nav li.active {
  background-color: #C64F15;
}
.product__nav a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1280px) {
  .product__nav a {
    font-size: 10px;
    padding: 0 25px;
  }
}

.product__main {
  position: relative;
  margin-top: 30px;
  margin-bottom: 80px;
}
@media (min-width: 600px) {
  .product__main {
    margin-top: 35px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1280px) {
  .product__main {
    margin-top: 60px;
  }
}
.product__main .fancy-img {
  cursor: zoom-in;
}

@media (min-width: 1280px) {
  .product__content {
    display: flex;
    height: 100%;
  }
}

.action-box {
  margin-left: -10px;
}
@media (min-width: 600px) {
  .action-box {
    margin-left: -20px;
  }
}
.action-box .btn-orange,
.action-box .btn-blue {
  display: inline-block;
  min-width: 130px;
}
@media (min-width: 1280px) {
  .action-box .btn-orange,
.action-box .btn-blue {
    min-width: unset;
    width: 110px;
  }
}
.action-box .btn-orange a,
.action-box .btn-blue a {
  font-size: 9.5px;
  height: 36px;
  letter-spacing: 1px;
}
.action-box .btn-orange a:hover,
.action-box .btn-blue a:hover {
  letter-spacing: 1.5px;
}
.action-box .btn-blue {
  margin-right: 25px;
}

.heading-orange {
  margin-bottom: 12px;
}
@media (min-width: 600px) {
  .heading-orange {
    margin-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .heading-orange {
    margin-left: -10px;
    margin-bottom: 20px;
  }
}
.heading-orange .heading__text {
  font-size: 18px;
}
@media (min-width: 600px) {
  .heading-orange .heading__text {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .heading-orange .heading__text {
    font-size: 24px;
  }
}

.product__section {
  margin-bottom: 50px;
  padding: 0 5px;
}
@media (min-width: 600px) {
  .product__section {
    margin-bottom: 70px;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .product__section {
    max-width: 870px;
    margin-bottom: 80px;
    padding: 0 10px;
  }
}
.product__section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .product__section h3 {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
@media (min-width: 1280px) {
  .product__section h3 {
    font-size: 19px;
    margin-bottom: 12px;
  }
}
.product__section h4 {
  font-weight: 500;
}
.product__section p,
.product__section li {
  font-size: 13px;
  line-height: 150%;
  margin: 10px 0;
}
@media (min-width: 600px) {
  .product__section p,
.product__section li {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .product__section p,
.product__section li {
    font-size: 15px;
    line-height: 155%;
    margin: 8px 0;
  }
}
.product__section img {
  width: 100%;
  margin: 10px 0;
}
@media (min-width: 600px) {
  .product__section img {
    max-width: min-content;
  }
}
@media (min-width: 1280px) {
  .product__section img {
    max-width: 850px;
  }
}
.product__section ul {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.product__section li {
  list-style-type: disc;
}
.product__section a:hover {
  color: #C64F15;
}
.product__section .group {
  padding-top: 5px;
  padding-bottom: 25px;
}
.product__section .capitalize {
  line-height: 185%;
  margin: 0;
}

#features {
  margin-bottom: 40px;
}

.product__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: max-content;
}
.product__link div::before {
  width: 32px;
  height: 32px;
  opacity: 0.88;
  margin: 0;
}
.product__link h4 {
  padding-left: 8px;
  font-weight: 500;
}

a.product__link {
  color: #1F3045;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}
a.product__link:hover {
  color: #C64F15;
  text-decoration: underline;
}
a.product__link:hover div {
  transform: scale(1.05);
}

.product__gallery {
  margin-bottom: 70px;
  padding: 0 10px;
}
@media (min-width: 600px) {
  .product__gallery {
    margin-bottom: 100px;
  }
}
.product__gallery h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
@media (min-width: 600px) {
  .product__gallery h3 {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  .product__gallery h3 {
    font-size: 19px;
  }
}

.gallery__content {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 12px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
@media (min-width: 1280px) {
  .gallery__content {
    height: 300px;
    flex-wrap: nowrap;
    justify-content: unset;
    padding: 10px 30px 20px 30px;
    margin-bottom: 70px;
    overflow: hidden;
  }
}
.gallery__content h4 {
  font-size: 12px;
  color: #3265A0;
  font-weight: 500;
  max-height: 30px;
  line-height: 120%;
  letter-spacing: -0.2px;
  overflow: hidden;
  max-width: 300px;
}
@media (min-width: 1280px) {
  .gallery__content h4 {
    font-size: 14px;
    max-height: 45px;
    line-height: 120%;
    margin-top: 5px;
  }
}
.gallery__content h5 {
  font-size: 12px;
  max-width: 300px;
}

.gallery__nav {
  position: absolute;
  z-index: 4;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 1280px) {
  .gallery__nav {
    left: 0;
  }
}
.gallery__nav span {
  display: none;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.gallery__nav span::before {
  font-size: 40px;
  color: #C64F15;
  padding: 10px 5px;
}
.gallery__nav span:hover {
  transform: scale(1.2);
  opacity: 1;
}

.gallery__img {
  cursor: zoom-in;
  max-width: 200px;
  transition: all 0.3s linear;
  margin: 10px 20px 0 20px;
  max-height: 150px;
}
@media (min-width: 1280px) {
  .gallery__img {
    max-width: unset;
    width: 300px;
    height: unset;
    max-height: 200px;
    margin: 0 15px;
  }
}
.gallery__img:hover {
  transform: scale(1.03);
}
.gallery__img img {
  width: 100%;
}

.gallery__video {
  position: relative;
  margin: 20px;
  cursor: pointer;
}
@media (min-width: 1280px) {
  .gallery__video {
    margin: 0 15px;
    width: 300px;
    height: 250px;
    margin-top: 10px;
  }
}

.gallery__article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: unset;
  cursor: pointer;
  margin: 20px;
}
@media (min-width: 1280px) {
  .gallery__article {
    justify-content: flex-start;
    position: relative;
    z-index: 5;
    padding: 0;
    margin: 0 15px 0 15px;
    margin-top: 55px;
    align-items: baseline;
    width: 220px;
    height: 200px;
  }
}
.gallery__article a {
  text-decoration: none;
}

.download-icon {
  text-align: center;
}
.download-icon::before {
  display: inline-block;
  width: 70px;
  height: 85px;
  content: "";
  background: url(../../images/icon/icon-pdf.svg) center no-repeat;
  background-size: contain;
  margin-right: 0px;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.download-icon:hover::before {
  opacity: 1;
  transform: scale(1.03);
}
.download-icon:hover h5 {
  text-decoration: underline;
}
.download-icon h4 {
  max-height: 60px;
}
.download-icon h5 {
  margin-top: 1px;
}

@media (min-width: 1280px) {
  .product__add-on {
    display: flex;
    justify-content: space-between;
  }
}

#add-on {
  padding: 0 10px;
  margin-bottom: 100px;
}

.add-on__box {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  padding: 35px 30px 30px 35px;
  margin: 0 5px;
  margin-bottom: 50px;
}
@media (min-width: 600px) {
  .add-on__box {
    padding: 40px;
    margin: 0 10px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1280px) {
  .add-on__box {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0;
  }
}
.add-on__box span {
  margin-right: 15px;
}
.add-on__box span::before {
  width: 45px;
  height: 45px;
  opacity: 0.8;
}
.add-on__box h5 {
  color: #3265A0;
  font-size: 12px;
  font-weight: 500;
}
@media (min-width: 600px) {
  .add-on__box h5 {
    font-size: 13px;
  }
}
.add-on__box h4 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 600px) {
  .add-on__box h4 {
    font-size: 20px;
    margin-bottom: 3px;
  }
}
@media (min-width: 1280px) {
  .add-on__box h4 {
    font-size: 22px;
    margin-bottom: 4px;
  }
}
.add-on__box p {
  font-size: 12px;
  line-height: 150%;
  margin: 10px 0;
}
@media (min-width: 600px) {
  .add-on__box p {
    font-size: 13px;
  }
}
@media (min-width: 1280px) {
  .add-on__box p {
    font-size: 14px;
  }
}
.add-on__box .group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.add-on__box .product-box__btn {
  width: 120px;
  margin-top: auto;
  margin-left: auto;
}
