@charset "UTF-8"

@import ../base/vars

.main
  margin-bottom: 60px
  padding: 0 5px
  @media (min-width: $desktop-content-width)
    padding: 0

  .heading-orange
    margin-top: 30px
    @media (min-width: $tablet-content-width)
      margin-top: 40px
    @media (min-width: $desktop-content-width)
      margin-top: 50px

#form-partner
  form
    display: none
    margin-top: 15px
    margin-bottom: 20px
    @media (min-width: $desktop-content-width)
      margin-top: 20px
      margin-bottom: 30px

  .select-cover
    margin-bottom: 12px
    @media (min-width: $tablet-content-width)
      display: inline-block
      margin-bottom: 20px

  select
    font-family: 'Gotham Pro', sans-serif
    width: 130px
    border: 1px solid $border-grey-color
    padding: 7px 10px 5px 10px
    font-size: 9px
    text-transform: uppercase
    margin-right: 10px
    letter-spacing: 0.3px
    @media (min-width: $tablet-content-width)
      width: 160px
      font-size: 10px
      margin-right: 20px
      padding: 9px 10px 7px 10px
    @media (min-width: $desktop-content-width)
      width: 180px

    option
      color: $main-font-color
      font-size: 10px
      @media (min-width: $tablet-content-width)
        font-size: 11px

    option[value=""][selected][disabled]
      color: $mid-grey-color
      font-size: 10px
      @media (min-width: $tablet-content-width)
        font-size: 11px

  .narrow-btn
    margin-top: 10px
    margin-right: 10px
    @media (min-width: $tablet-content-width)
      margin-right: 10px

.partner-group
  display: flex
  flex-wrap: wrap
  @media (min-width: $tablet-content-width)
    justify-content: space-between
  @media (min-width: $desktop-content-width)
    justify-content: flex-start
    margin: 0 -38px
  a
    text-decoration: none

.partner-box
  @include box-shadow
  display: flex
  flex-direction: column
  justify-content: space-between
  max-width: 500px
  width: 100%
  min-height: 325px
  text-decoration: unset
  margin-bottom: 40px
  @include animation-03-ease-out
  &:hover
    transform: scale(1.05)
    @include box-shadow-hover
  @media (min-width: $tablet-content-width)
    max-width: unset
    width: 580px
    height: 340px
  @media (min-width: $desktop-content-width)
    width: 600px
    margin: 0 38px
    margin-bottom: 60px

.partner__top
  display: flex
  justify-content: space-between
  align-items: center
  height: 90px
  padding: 20px
  @media (min-width: $tablet-content-width)
    height: 95px
    padding: 25px 30px

.partner__country
  color: $orange-color
  font-size: 15px
  font-weight: 800
  letter-spacing: 0.5px
  padding-bottom: 10px
  @media (min-width: $tablet-content-width)
    font-size: 17px
    padding-bottom: 0

.partner__logo
  width: 120px
  height: 60px
  text-align: right
  margin-top: 10px
  @media (min-width: $tablet-content-width)
    width: 140px
    height: 60px
  img
    max-width: 110px
    max-height: 40px
    @media (min-width: $tablet-content-width)
      max-width: 130px
      max-height: 50px

.partner__content
  padding: 0 20px
  height: 100%
  @media (min-width: $tablet-content-width)
    padding: 0 30px

.partner__name
  font-size: 22px
  font-weight: 600
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  margin-bottom: 18px
  @media (min-width: $tablet-content-width)
    font-size: 26px

.partner__title
  font-size: 13px
  font-weight: 500
  margin-top: 18px
  margin-bottom: 5px
  //@media (min-width: $tablet-content-width)
    font-size: 14px

.partner__text
  font-size: 13px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  @media (min-width: $tablet-content-width)
    font-size: 14px
    &.link
      color: $blue-color
      text-decoration: underline

  .multi-phone
    &::after
      content: " / "
    &:last-child
      &::after
        content: " "

.partner__bottom
  height: 70px
  display: flex
  align-items: center
  justify-content: space-between
  background-color: $slight-grey-color
  padding: 0 20px
  padding-top: 5px
  @media (min-width: $tablet-content-width)
    padding: 0 30px
    padding-top: 5px

.partner__status
  display: flex
  flex-direction: column
  justify-content: center
  height: 70px
  color: $mid-grey-color
  font-size: 10px
  text-transform: uppercase
  letter-spacing: 0.5px
  font-weight: 500
  line-height: 150%
  @media (min-width: $tablet-content-width)
    font-size: 11px
    letter-spacing: 0.7px

.partner__products
  span
    margin-left: 20px
    @media (min-width: $tablet-content-width)
      margin-left: 30px
      margin-right: 5px
  span::before
    opacity: 0.7
    width: 20px
    height: 20px
    @media (min-width: $tablet-content-width)
      width: 23px
      height: 23px