/* RESOLUTION SETTINGS START*/
/* COLORS =====================================*/
/*====================*/
.main {
  margin-bottom: 60px;
  padding: 0 5px;
}
@media (min-width: 1280px) {
  .main {
    padding: 0;
  }
}
.main .heading-orange {
  margin-top: 30px;
}
@media (min-width: 600px) {
  .main .heading-orange {
    margin-top: 35px;
  }
}
@media (min-width: 1280px) {
  .main .heading-orange {
    margin-top: 40px;
  }
}

#form-partner form {
  display: none;
  margin-top: 20px;
  margin-bottom: 45px;
}
@media (min-width: 600px) {
  #form-partner form {
    max-width: 650px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1280px) {
  #form-partner form {
    max-width: unset;
    margin-top: 15px;
    margin-bottom: 45px;
  }
}
#form-partner .select-cover {
  margin-bottom: 12px;
}
@media (min-width: 600px) {
  #form-partner .select-cover {
    display: inline-block;
    margin-bottom: 12px;
  }
}
#form-partner select {
  font-family: "Gotham Pro", sans-serif;
  width: 90%;
  max-width: 290px;
  border: 1px solid #eeeeee;
  padding: 8px 10px 7px 10px;
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 10px;
  letter-spacing: 0.3px;
}
@media (min-width: 600px) {
  #form-partner select {
    width: 160px;
    margin-right: 20px;
    padding: 9px 10px 8px 10px;
  }
}
@media (min-width: 1280px) {
  #form-partner select {
    width: 180px;
  }
}
#form-partner select option {
  color: #1f3045;
  font-size: 10px;
}
@media (min-width: 600px) {
  #form-partner select option {
    font-size: 11px;
  }
}
#form-partner select option[value=""][selected][disabled] {
  color: #999999;
  font-size: 10px;
}
@media (min-width: 600px) {
  #form-partner select option[value=""][selected][disabled] {
    font-size: 11px;
  }
}
#form-partner .narrow-btn {
  margin-top: 10px;
  margin-right: 12px;
  height: 30px;
  font-size: 10px;
}
@media (min-width: 600px) {
  #form-partner .narrow-btn {
    margin-right: 10px;
  }
}
@media (min-width: 1280px) {
  #form-partner .narrow-btn {
    margin-right: 0;
    margin-left: 20px;
  }
}

.partner-group {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 600px) {
  .partner-group {
    justify-content: space-between;
    max-width: 900px;
  }
}
@media (min-width: 1280px) {
  .partner-group {
    justify-content: flex-start;
    max-width: unset;
    margin: 0 -15px;
  }
}
.partner-group a {
  text-decoration: none;
}

.partner-box {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  min-height: 250px;
  text-decoration: unset;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.partner-box:hover {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.06);
}
@media (min-width: 600px) {
  .partner-box {
    max-width: unset;
    min-height: unset;
    width: 400px;
    height: 250px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1280px) {
  .partner-box {
    margin: 0 15px;
    margin-bottom: 70px;
  }
}

.partner__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 20px;
}
@media (min-width: 600px) {
  .partner__top {
    height: 85px;
    padding: 25px 30px;
  }
}

.partner__country {
  color: #C64F15;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: -23px;
}
@media (min-width: 600px) {
  .partner__country {
    margin-top: -15px;
  }
}

.partner__logo {
  width: 120px;
  height: 60px;
  text-align: right;
  margin-top: 10px;
}
@media (min-width: 600px) {
  .partner__logo {
    width: 140px;
    height: 50px;
    margin-top: 0;
  }
}
.partner__logo img {
  max-width: 110px;
  max-height: 40px;
}
@media (min-width: 600px) {
  .partner__logo img {
    max-width: 115px;
    max-height: 45px;
  }
}

.partner__content {
  padding: 0 20px;
  height: 100%;
}
@media (min-width: 600px) {
  .partner__content {
    padding: 0 30px;
  }
}
.partner__content .group {
  display: flex;
}
.partner__content .content__block {
  display: flex;
  align-items: center;
}

.partner__name {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 23px;
}

.partner__title {
  font-size: 13px;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 5px;
}

.partner__text {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-bottom: 2px;
  min-height: 24px;
  max-width: 160px;
}
@media (min-width: 600px) {
  .partner__text {
    max-width: 210px;
  }
  .partner__text.link {
    color: #164C81;
    text-decoration: underline;
  }
}
.partner__text a:hover {
  color: #C64F15;
  text-decoration: underline;
}
.partner__text .multi-phone {
  display: block;
  line-height: 130%;
}
.partner__text .multi-mail {
  display: block;
  line-height: 130%;
}

.partner__bottom {
  -moz-user-select: none;
  -webkit-user-select: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 0 20px;
  padding-top: 5px;
}
@media (min-width: 600px) {
  .partner__bottom {
    padding: 0 30px;
    padding-top: 5px;
  }
}

.partner__status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  color: #6f6e6e;
  opacity: 0.9;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  font-weight: 500;
  line-height: 150%;
}

.partner__products span {
  margin-left: 20px;
}
@media (min-width: 600px) {
  .partner__products span {
    margin-left: 25px;
  }
}
.partner__products span::before {
  display: inline-block;
  opacity: 0.85;
  width: 22px;
  height: 22px;
}

.icon-address,
.icon-phone,
.icon-mail,
.icon-address-hover,
.icon-phone-hover,
.icon-mail-hover {
  display: block;
  width: 28px;
  height: 36px;
  cursor: pointer;
}
.icon-address::before,
.icon-phone::before,
.icon-mail::before,
.icon-address-hover::before,
.icon-phone-hover::before,
.icon-mail-hover::before {
  display: inline-block;
  content: "";
  width: 27px !important;
  height: 36px !important;
}
.icon-address:hover::before,
.icon-phone:hover::before,
.icon-mail:hover::before,
.icon-address-hover:hover::before,
.icon-phone-hover:hover::before,
.icon-mail-hover:hover::before {
  width: 28px !important;
  height: 36px !important;
}

.icon-address::before {
  background: url(../../images/icon/icon-address.svg) no-repeat;
}
.icon-address:hover::before {
  background: url(../../images/icon/icon-address-hover.svg) no-repeat;
}

.icon-phone {
  margin-left: 20px;
}
.icon-phone::before {
  background: url(../../images/icon/icon-phone.svg) no-repeat;
}
.icon-phone:hover::before {
  background: url(../../images/icon/icon-phone-hover.svg) no-repeat;
}

.icon-mail {
  margin-left: 20px;
}
.icon-mail::before {
  background: url(../../images/icon/icon-mail.svg) no-repeat;
}
.icon-mail:hover::before {
  background: url(../../images/icon/icon-mail-hover.svg) no-repeat;
}

.icon-address-hover::before {
  background: url(../../images/icon/icon-address-hover.svg) no-repeat;
}

.icon-phone-hover {
  margin-left: 20px;
}
.icon-phone-hover::before {
  background: url(../../images/icon/icon-phone-hover.svg) no-repeat;
}

.icon-mail-hover {
  margin-left: 20px;
}
.icon-mail-hover::before {
  background: url(../../images/icon/icon-mail-hover.svg) no-repeat;
}
