/* RESOLUTION SETTINGS START*/
/* COLORS =====================================*/
/*====================*/
.heading-orange {
  margin-top: 50px;
}

.partner-group {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1280px) {
  .partner-group {
    margin: 0 -38px;
  }
}
.partner-group a {
  text-decoration: none;
}

.partner-box {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 325px;
  text-decoration: unset;
}
@media (min-width: 600px) {
  .partner-box {
    width: 600px;
    height: 340px;
  }
}
@media (min-width: 1280px) {
  .partner-box {
    margin: 0 38px;
    margin-bottom: 60px;
  }
}

.partner__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 25px;
}
@media (min-width: 600px) {
  .partner__top {
    height: 95px;
    padding: 25px 30px;
  }
}

.partner__country {
  color: #C64F15;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.partner__logo {
  width: 140px;
  height: 60px;
  text-align: right;
  margin-top: 10px;
}
.partner__logo img {
  max-width: 130px;
  max-height: 50px;
}

.partner__content {
  padding: 0 25px;
  height: 100%;
}
@media (min-width: 600px) {
  .partner__content {
    padding: 0 30px;
  }
}

.partner__name {
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 18px;
}
@media (min-width: 600px) {
  .partner__name {
    font-size: 26px;
  }
}

.partner__title {
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 5px;
}
@media (min-width: 600px) {
  .partner__title {
    font-size: 14px;
  }
}

.partner__text {
  font-size: 13px;
}
@media (min-width: 600px) {
  .partner__text {
    font-size: 14px;
  }
  .partner__text.link {
    color: #3265A0;
    text-decoration: underline;
  }
}

.partner__bottom {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 0 25px;
}
@media (min-width: 600px) {
  .partner__bottom {
    padding: 0 30px;
    padding-top: 3px;
  }
}

.partner__status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  color: #6f6e6e;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 150%;
}
@media (min-width: 600px) {
  .partner__status {
    font-size: 11px;
  }
}

.partner__products span {
  margin-left: 27px;
}
.partner__products span::before {
  opacity: 0.7;
  width: 20px;
  height: 20px;
}
@media (min-width: 600px) {
  .partner__products span::before {
    width: 23px;
    height: 23px;
  }
}
