@charset "UTF-8"

.header__bkg
  position: relative
  background-color: $dark-grey-color

.header__content
  @include unselectable
  position: relative
  background-color: $dark-grey-color
  display: flex
  align-items: center
  justify-content: space-between
  height: 50px
  font-size: 13px
  letter-spacing: 0.5px
  color: #ffffff
  @media (min-width: $tablet-content-width)
    justify-content: flex-end
    height: 40px

.mobile__logo
  margin-left: 5px
  cursor: pointer
  a
    display: block
  @media (min-width: $tablet-content-width)
    display: none

  .close-elem
    font-size: 23px
    position: absolute
    right: 0
    top: 45px
    z-index: 999
    margin-right: 5px

.menu-burger
  width: 28px
  margin-right: 12px
  &:hover
    cursor: pointer
  div
    border: 2px solid #ffffff
    margin-top: 4px
  @media (min-width: $tablet-content-width)
    display: none

.mobile-close
  cursor: pointer
  @media (min-width: $tablet-content-width)
    display: none
  span::before
    font-size: 25px
    margin-left: 0
    margin-right: 5px
    top: 5px

.header__menu
  background-color: $dark-grey-color
  display: none
  flex-direction: column
  position: absolute
  z-index: 999
  top: 50px
  width: 100%
  padding-bottom: 20px
  margin-left: -5px
  @media (min-width: $tablet-content-width)
    background-color: unset
    position: static
    z-index: unset
    top: unset
    width: unset
    padding-bottom: 0
    display: flex
    flex-direction: row
    height: 40px
    align-items: center
    justify-content: flex-end
  a
    display: block
    text-decoration: none

.menu__main
  padding: 15px 10px 5px 10px
  font-weight: 500
  cursor: pointer
  flex-direction: column
  transition: all 0.2s ease-in-out
  @media (min-width: $tablet-content-width)
    padding: 10px 15px 9px 50px
    //margin-right: 10px
    &:hover
      font-weight: bold
      text-decoration: underline
      color: $orange-color
    &:hover .menu__drop-down
      display: flex
  @media (min-width: $desktop-content-width)
    margin-right: 10px
  span
    display: none
    @media (min-width: $tablet-content-width)
      display: inline-block
      padding-left: 10px

.menu__drop-down
  display: block
  margin-left: 10px
  margin-top: 10px
  @media (min-width: $tablet-content-width)
    margin-left: 0
    margin-top: 0
    display: none
    position: absolute
    z-index: 998
    justify-content: space-around
    align-items: baseline
    left: 0
    width: 100%
    background-color: $dark-grey-color
    color: #ffffff
    font-weight: normal
    padding-top: 35px
    padding-bottom: 50px
    padding-left: 2%
    padding-right: 2%
    opacity: 0.99
  @media (min-width: $desktop-content-width)
    padding-left: 5%
    padding-right: 5%

.drop-down__item
  position: relative
  text-transform: uppercase
  font-weight: 500
  padding: 5px
  padding-bottom: 10px
  margin-bottom: 5px
  @media (min-width: $tablet-content-width)
    padding: 0
    margin-bottom: 0
    font-weight: bold
    letter-spacing: 0.5px
    width: 25%
    margin-left: 3%
    white-space: nowrap
    &::before
      content: '/\00a0\00a0\00a0'
  @media (min-width: $desktop-content-width)
    margin-left: 5%
  span
    display: inline-block
    @media (min-width: $tablet-content-width)
      display: none

.drop-down__sub-item
  text-transform: capitalize
  font-weight: 500
  margin-left: 20px
  padding-top: 10px
  padding-bottom: 8px
  &:hover
    font-weight: bold
    color: $orange-color
  @media (min-width: $tablet-content-width)
    position: relative
    font-weight: normal
    letter-spacing: 0.5px
    margin-left: 22px
    padding-top: 20px
    padding-bottom: 0
    margin-top: 0
    &:hover .drop-down__sub-menu
      display: block
  span
    display: inline-block

.item__list
  margin-top: 8px
  @media (min-width: $tablet-content-width)
    display: block
    margin-top: 0
    white-space: normal

.drop-down__sub-menu
  @media (min-width: $tablet-content-width)
    display: none
    position: absolute
    z-index: 999
    left: 100%
    width: 300px
    background-color: $grey-color
    border: 1px solid #aeaeae6e
    top: 15px
    padding-bottom: 10px
    padding-left: 5px
    padding-top: 5px
    opacity: 0.98

.menu-item
  text-transform: capitalize
  font-weight: normal
  padding-top: 10px
  padding-bottom: 8px
  margin-left: 20px
  transition: all 0.2s ease-in-out
  &:hover
    color: $orange-color
    cursor: pointer
    text-decoration: underline
  @media (min-width: $tablet-content-width)
    display: block
    padding-top: 20px
    padding-bottom: 5px
    margin-left: 22px
    letter-spacing: 0.5px
  a
    text-decoration: none

.drop-down__sub-menu
  margin-top: 10px
  @media (min-width: $tablet-content-width)
    margin-top: 0
  .menu-item
    letter-spacing: 0
    color: #ffffff
    @media (min-width: $tablet-content-width)
      margin-left: 0
      padding-top: 15px
      padding-bottom: 10px
      padding-left: 15px
      padding-right: 10px
    &:hover
      color: $orange-color

.sub-header
  @include unselectable
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 10px
  @media (min-width: $tablet-content-width)
    //padding: 0 2%
    padding: 0 15px
  //@media (min-width: $desktop-content-width)
    padding: 0 15px

.sub-header__left
  flex: 2
  display: flex
  align-items: center
  font-size: 10px
  margin-top: 5px
  //margin-top: 12px
  //margin-bottom: 12px
  @media (min-width: $tablet-content-width)
    font-size: 12px
  span
    font-weight: bold
    line-height: 150%
  a
    display: none
    @media (min-width: $tablet-content-width)
      display: block
      margin-bottom: 2px
    @media (min-width: $desktop-content-width)
      margin-bottom: 8px
      margin-right: 4%

  div
    display: none
    @media (min-width: $desktop-content-width)
      display: block

.sub-header__right
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  @media (min-width: $tablet-content-width)
    width: unset
    justify-content: unset
    margin-left: 3%

  .btn-orange
    margin: 10px 0
    @media (min-width: $tablet-content-width)
      margin: 16px 0

  .language
    position: relative
    display: flex
    align-items: center
    @media (min-width: $tablet-content-width)
      justify-content: flex-end
  //.language__current
    font-size: 11px
    font-weight: 600
    @media (min-width: $tablet-content-width)
      font-size: 12px
      margin-right: 35px
    @media (min-width: $desktop-content-width)
      font-size: 14px
      margin-right: 35px

  
  .language__icon
    display: flex
    align-items: center
    font-size: 11px
    font-weight: 500
    margin-right: 25px
    letter-spacing: 0.3px
    cursor: pointer
    @media (min-width: $tablet-content-width)
      margin-top: 5px
      font-size: 12px
      margin-right: 35px
    @media (min-width: $desktop-content-width)
      margin-right: 50px
      font-size: 14px
    &:before
      display: inline-block
      width: 20px
      height: 20px
      content: ""
      background: url(../../images/icon/icon-language.svg) center no-repeat
      background-size: contain
      margin-right: 5px
      @media (min-width: $tablet-content-width)
        width: 22px
        height: 22px
      @media (min-width: $desktop-content-width)
        width: 24px
        height: 24px

    .down-arrow
      margin-left: 5px
      color: $main-font-color
      &:before
        padding-right: 0
        padding-left: 1px
        font-size: 12px
        @media (min-width: $tablet-content-width)
          font-size: 14px
        @media (min-width: $desktop-content-width)
          font-size: 16px

  .language__change
    position: absolute
    z-index: 98
    min-width: 130px
    width: 100%
    background-color: $slight-grey-color
    padding: 18px 30px
    top: -5px
    left: -5px
    margin-right: 20px
    cursor: default
    @include box-shadow
    @media (min-width: $tablet-content-width)
      top: -10px
      left: unset
    ul
      margin-top: 5px
      li
        font-size: 11px
        font-weight: 400
        text-transform: uppercase
        padding: 6px 0
        margin-top: 3px
        cursor: pointer
        &:hover
          color: $orange-color
          text-decoration: underline
        a
          display: block
          text-decoration: none

    .current
      color: $orange-color
      font-weight: 600
      cursor: default
      &:hover
        text-decoration: none

    .close-elem
      position: absolute
      z-index: 99
      color: $grey-color
      right: 5px
      top: 8px