/* RESOLUTION SETTINGS START*/

$desktop-content-width: 1280px

$tablet-content-width: 600px

$min-site-width: 320px

/* COLORS =====================================*/

$main-font-color: #1F3045

$orange-color: #C64F15

$blue-color: #3265A0

$dark-grey-color: #505050

$grey-color: #6f6e6e

$border-grey-color: #eeeeee

$light-grey-color: #dfdfdf

$slight-grey-color: #f8f8f8

/*====================*/
//!!! для чекбоксов и радио кнопок
//$border-line-pr-color: #dedddd

//$border-line-color: #c7d0d9

//$border-line-light-color: #ebeef2

@mixin box-shadow
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1)
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1)

@mixin unselectable
  -moz-user-select: none //Mozilla Firefox
  -webkit-user-select: none //Google Chrome, Opera Next, Safari

@mixin animation_0_25
  transition: all .25s ease-out
  -webkit-transition: all .25s ease-out
  -moz-transition: all .25s ease-out
  -o-transition: all .25s ease-out
  -ms-transition: all .25s ease-out

//@mixin box-sizing
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box

